<!-- Form - Tutorial - Posts -->
<%= form_with(model: [@tutorial_post, @tutorial_step], url: form_url, local: true) do |form| %>

    <!-- PHCNotifi Render Validation -->
    <%= render "phcdevworks_notifications/bootstrap/validations", :object => @tutorial_step %>
    <!-- PHCNotifi Render Validation -->

    <!-- Form Input Fields -->
    <div class="form-group field_with_errors">
        <%= form.label :step_number, "Tutorial Step" %>
        <%= form.select( :step_number, [["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"],["13","13"],["14","14"]], {}, {class: "form-control"}) %>
    </div>

    <div class="form-group field_with_errors">
        <%= form.label :step_title, placeholder: "Step Title" %>
        <%= form.text_field :step_title, class: "form-control", rows: "10" %>
    </div>

    <div class="form-group field_with_errors">
        <%= form.label :step_description, "Step Text" %>
        <%= form.text_area :step_description, class: "form-control", rows: "10" %>
    </div>

    <div class="form-group field_with_errors">
        <%= form.label :step_copy_instruction, "Step Instructions (to Copy)" %>
        <%= form.text_area :step_copy_instruction, class: "form-control", rows: "10" %>
    </div>

    <div class="form-group field_with_errors">
        <%= form.label :step_image, "Step Image" %>
        <%= form.file_field :step_image, class: "form-control" %>
    </div>
  
    <!-- Form Input Fields -->

    <!-- Form Submition Button -->
    <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
    <!-- For Submition Button -->

<% end %>
<!-- Form - Tutorial - Posts -->
