<p id="notice"><%= notice %></p>

<p>
  <strong>Tutorial step number:</strong>
  <%= @tutorial_step.tutorial_step_number %>
</p>

<p>
  <strong>Tutorial step body:</strong>
  <%= @tutorial_step.tutorial_step_body %>
</p>

<%= link_to 'Edit', edit_tutorial_step_path(@tutorial_step) %> |
<%= link_to 'Back', tutorial_steps_path %>
