<p id="notice"><%= notice %></p>

<h1>Tutorial Categories</h1>

<table>
  <thead>
    <tr>
      <th>Tutorial category name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorial_categories.each do |tutorial_category| %>
      <tr>
        <td><%= tutorial_category.tutorial_category_name %></td>
        <td><%= link_to 'Show', tutorial_category %></td>
        <td><%= link_to 'Edit', edit_tutorial_category_path(tutorial_category) %></td>
        <td><%= link_to 'Destroy', tutorial_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutorial Category', new_tutorial_category_path %>
