<!-- Form - Command - Post -->
<%= form_with(model: command_post, local: true) do |form| %>

    <!-- PHCNotifi Render Validation -->
    <%= render "phcdevworks_notifications/bootstrap/validations", :object => @command_post %>
    <!-- PHCNotifi Render Validation -->

    <!-- Form Input Fields -->
    <div class="form-group">
        <%= form.label :post_title, "Command List Title" %>
        <%= form.text_field :post_title, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= form.label :post_description, "Command List Description" %>
        <%= form.text_area :post_description, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= form.label :post_status, "Command List Status" %>
        <%= form.select( :post_status, [["Draft","draft"],["Published","published"],["Review","review"]], {}, {class: "form-control"}) %>
    </div>
    
    <div class="form-group">
        <%= form.label :post_image, "Featured Image" %>
        <%= form.file_field :post_image, class: "form-control" %>
    </div>

    <% if form.object.post_image.attached? %>
        <%= image_tag main_app.url_for(form.object.post_image), class: "img-responsive img-thumbnail" %>
    <% end %>
    <!-- Form Input Fields -->

    <!-- Form Submition Button -->
    <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
    <!-- For Submition Button -->

<% end %>
<!-- Form - Command - Item -->
