<!-- Form - Command - Item -->
<%= form_with(model: [@command_post, @command_item], url: form_url, local: true) do |form| %>

    <!-- PHCNotifi Render Validation -->
    <%= render "phcdevworks_notifications/bootstrap/validations", :object => @command_item %>
    <!-- PHCNotifi Render Validation -->

    <!-- Form Input Fields -->
    <div class="form-group">
        <%= form.label :item_name, "Command Name" %>
        <%= form.text_field :item_name, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= form.label :item_description, "Command Description" %>
        <%= form.text_area :item_description, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= form.label :item_copy_command, "Copy Command" %>
        <%= form.text_field :item_copy_command, class: "form-control" %>
    </div>

    <div class="form-group field_with_errors">
        <%= form.label :item_image, "Featured Image" %>
        <%= form.file_field :item_image, class: "form-control" %>
    </div>

    <% if form.object.item_image.attached? %>
        <%= image_tag main_app.url_for(form.object.item_image), class: "img-responsive img-thumbnail" %>
    <% end %>
    <!-- Form Input Fields -->
    
    <!-- Form Submition Button -->
    <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
    <!-- For Submition Button -->

<% end %>
<!-- Form - Command - Item -->
