<!-- Form - Command - Item -->
<%= form_with(model: [@command_post, @command_item], url: form_url, local: true) do |form| %>

    <!-- PHCNotifi Render Validation -->
    <%= render "phcdevworks_notifications/bootstrap/validations", :object => @command_item %>
    <!-- PHCNotifi Render Validation -->

    <!-- Form Input Fields -->
    <div class="form-group">
        <%= form.label :command_item_title, "Command Name" %>
        <%= form.text_field :command_item_title, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= form.label :command_item_text, "Command Description" %>
        <%= form.text_area :command_item_text, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= form.label :command_item_copy_command, "Copy Command" %>
        <%= form.text_field :command_item_copy_command, class: "form-control" %>
    </div>

    <div class="form-group field_with_errors">
        <%= form.label :command_item_image, "Featured Image" %>
        <%= form.file_field :command_item_image, class: "form-control" %>
    </div>

    <% if form.object.command_item_image.attached? %>
        <%= image_tag main_app.url_for(form.object.command_item_image), class: "img-responsive img-thumbnail" %>
    <% end %>
    
	<div class="form-group">
		<label>Attach SEO Data</label>
		<%= collection_select(:command_item, :optimization_id, PhcdevworksCoreModules::Marketing::Optimization.order("marketing_optimization_page_title"), :id, :marketing_optimization_page_title, {}, {class: "form-control"}) %>
	</div>
    <!-- Form Input Fields -->
    
    <!-- Form Submition Button -->
    <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
    <!-- For Submition Button -->

<% end %>
<!-- Form - Command - Item -->
