<%= form_with(model: tutorial_post, local: true) do |form| %>
  <% if tutorial_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutorial_post.errors.count, "error") %> prohibited this tutorial_post from being saved:</h2>

      <ul>
        <% tutorial_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tutorial_post_title %>
    <%= form.text_field :tutorial_post_title %>
  </div>

  <div class="field">
    <%= form.label :tutorial_post_description %>
    <%= form.text_field :tutorial_post_description %>
  </div>

  <div class="field">
    <%= form.label :tutorial_post_status %>
    <%= form.text_field :tutorial_post_status %>
  </div>

  <div class="field">
    <%= form.label :tutorial_post_image %>
    <%= form.text_field :tutorial_post_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
