<!-- Title System -->
<% phc_title "Tutorial Post Manager" %>
<% phc_title_tagline "Tutorial Index" %>
<% phc_breadcrumb_one yield(:phc_title_tagline) %>
<% phc_breadcrumb_two link_to "Tutorial Index", phcdevworks_tutorials.tutorial_posts_path %>
<!-- Title System -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
  <li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- Page Header -->

<!-- Page & Panel Content -->
<div class="panel panel-inverse">
  <!-- Panel Heading -->
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title"><%= yield(:phc_title_tagline) %></h4>
  </div>
  <!-- Panel Heading -->
  <!-- Panel Body -->
  <div class="panel-body">
    <!-- Table - Snippet Index -->
    <div class="table-responsive">
      <table class="table table-striped table-bordered">

        <thead>
          <tr>
            <th>Tutorial Title</th>
            <th>Tutorial Category</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @tutorial_posts.each do |tutorial_post| %>
            <tr>
              <td><%= tutorial_post.tutorial_post_title %></td>
              <td><%= tutorial_post.category.tutorial_category_name %></td>
              <td>
                <div class="btn-group d-flex" role="group">
                  <%= link_to "Details", tutorial_post, class: "btn btn-purple btn-xs" %>
                  <%= link_to "Update", edit_tutorial_post_path(tutorial_post), class: "btn btn-primary btn-xs" %>
                  <%= link_to "Remove", tutorial_post, method: :delete, data: { confirm: "Are you sure? This action cannot be reversed." }, class: "btn btn-danger btn-xs" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>
      <%= link_to phcdevworks_tutorials.new_tutorial_post_path, class: "btn btn-primary btn-sm" do %>
        <i class="fas fa-plus-circle"></i>
        Add a New Tutorial
      <% end %>
    </div>
    <!-- Table - Snippet Index -->
  </div>
  <!-- Panel Body -->
</div>
<!-- Page & Panel Content -->
