<p id="notice"><%= notice %></p>

<h1>Tutorial Posts</h1>

<table>
  <thead>
    <tr>
      <th>Tutorial post title</th>
      <th>Tutorial post description</th>
      <th>Tutorial post status</th>
      <th>Tutorial post image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorial_posts.each do |tutorial_post| %>
      <tr>
        <td><%= tutorial_post.tutorial_post_title %></td>
        <td><%= tutorial_post.tutorial_post_description %></td>
        <td><%= tutorial_post.tutorial_post_status %></td>
        <td><%= tutorial_post.tutorial_post_image %></td>
        <td><%= link_to 'Show', tutorial_post %></td>
        <td><%= link_to 'Edit', edit_tutorial_post_path(tutorial_post) %></td>
        <td><%= link_to 'Destroy', tutorial_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutorial Post', new_tutorial_post_path %>
